 @import "tailwindcss" {
  darkMode: "class"
  theme: {
    extend: {
      colors: {
        primary: "#1173d4", "#13a4ec"
        background-light: "#f6f7f8", "#f6f7f8",
        background-dark: "#101922" ,"#101c22"
      }
      fontFamily: {
        display: ["Inter"]
      }
      borderRadius: {
        DEFAULT: "0.25rem"
        lg: "0.5rem"
        xl: "0.75rem"
        full: "9999px"
      }
    }
  }
}

@plugin "daisyui" {
  themes: "light" --default, "dark"
}

 